.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon-20 {
    width: 20px;
    height: 20px;
}

.icon-22 {
    width: 22px;
    height: 22px;
}

.icon-23 {
    width: 23px;
    height: 23px;
}

.icon-35 {
    width: 35px;
    height: 35px;
}

.icon-close {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 455.111 455.111" style="enable-background:new 0 0 455.111 455.111;" xml:space="preserve" width="512px" height="512px" class=""><g><circle style="fill:%234A4A4A" cx="227.556" cy="227.556" r="227.556" class="" /><path style="fill:%234A4A4A" d="M455.111,227.556c0,125.156-102.4,227.556-227.556,227.556c-72.533,0-136.533-32.711-177.778-85.333  c38.4,31.289,88.178,49.778,142.222,49.778c125.156,0,227.556-102.4,227.556-227.556c0-54.044-18.489-103.822-49.778-142.222  C422.4,91.022,455.111,155.022,455.111,227.556z" class="active-path" /><path style="fill:%23FFFFFF" d="M331.378,331.378c-8.533,8.533-22.756,8.533-31.289,0l-72.533-72.533l-72.533,72.533  c-8.533,8.533-22.756,8.533-31.289,0c-8.533-8.533-8.533-22.756,0-31.289l72.533-72.533l-72.533-72.533  c-8.533-8.533-8.533-22.756,0-31.289c8.533-8.533,22.756-8.533,31.289,0l72.533,72.533l72.533-72.533  c8.533-8.533,22.756-8.533,31.289,0c8.533,8.533,8.533,22.756,0,31.289l-72.533,72.533l72.533,72.533  C339.911,308.622,339.911,322.844,331.378,331.378z" data-original="%23FFFFFF" class=""/></g></svg>') no-repeat;
    background-size: cover;
}

.icon-film {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" id="OutlineExpand" enable-background="new 0 0 64 64" height="512px" viewBox="0 0 64 64" width="512px" class=""><g><path d="m3 63h58c.553 0 1-.447 1-1v-60c0-.553-.447-1-1-1h-58c-.553 0-1 .447-1 1v60c0 .553.447 1 1 1zm1-60h56v58h-56z" class="active-path" fill="%23DBDBDB"/><path d="m11 5h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m11 13h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m11 21h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m11 29h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m11 37h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m11 45h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m11 53h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m57 5h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m57 13h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m57 21h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m57 29h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m57 37h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m57 45h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m57 53h-4c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm-1 4h-2v-2h2z" class="active-path" fill="%23DBDBDB"/><path d="m42 20h-20c-2.757 0-5 2.243-5 5v14c0 2.757 2.243 5 5 5h20c2.757 0 5-2.243 5-5v-14c0-2.757-2.243-5-5-5zm3 19c0 1.654-1.346 3-3 3h-20c-1.654 0-3-1.346-3-3v-14c0-1.654 1.346-3 3-3h20c1.654 0 3 1.346 3 3z" class="active-path" fill="%23DBDBDB"/><path d="m38.414 31.09-11-5c-.31-.142-.669-.114-.955.069-.286.185-.459.501-.459.841v10c0 .34.173.656.459.841.164.105.352.159.541.159.141 0 .282-.029.414-.09l11-5c.357-.162.586-.517.586-.91s-.229-.748-.586-.91zm-10.414 4.357v-6.895l7.583 3.448z" class="active-path" fill="%23DBDBDB"/></g></svg>') no-repeat;
    background-size: cover;
}

.icon-chart {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve" width="512px" height="512px" class=""><g transform="matrix(6.12323e-17 1 -1 6.12323e-17 480 -2.84217e-14)"><g><g><g><rect y="464" width="480" height="16" class="active-path" fill="%23DBDBDB"/><path d="M32,448h80c4.418,0,8-3.582,8-8V296c0-4.418-3.582-8-8-8H32c-4.418,0-8,3.582-8,8v144C24,444.418,27.582,448,32,448z      M40,304h64v128H40V304z" class="active-path" fill="%23DBDBDB"/><path d="M256,448h80c4.418,0,8-3.582,8-8V200c0-4.418-3.582-8-8-8h-80c-4.418,0-8,3.582-8,8v240C248,444.418,251.582,448,256,448     z M264,208h64v224h-64V208z" class="active-path" fill="%23DBDBDB"/><path d="M144,448h80c4.418,0,8-3.582,8-8V104c0-4.418-3.582-8-8-8h-80c-4.418,0-8,3.582-8,8v336C136,444.418,139.582,448,144,448     z M152,112h64v320h-64V112z" class="active-path" fill="%23DBDBDB"/><path d="M368,448h80c4.418,0,8-3.582,8-8V8c0-4.418-3.582-8-8-8h-80c-4.418,0-8,3.582-8,8v432C360,444.418,363.582,448,368,448z      M376,16h64v416h-64V16z" class="active-path" fill="%23DBDBDB"/></g></g></g></g></svg>') no-repeat;
    background-size: cover;
}

.icon-picture {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class=""><g><g><g><path d="M472.615,43.979H39.385C17.303,43.979,0,61.282,0,83.364v345.272c0,22.082,17.303,39.385,39.385,39.385h433.231    c22.082,0,39.385-17.303,39.385-39.385V83.364C512,61.282,494.697,43.979,472.615,43.979z M472.615,428.636H39.385L39.083,83.39    c0,0,0.092-0.026,0.302-0.026h433.231V428.636z" class="active-path" fill="%233E92E6"/></g></g><g><g><path d="M195.669,169.255c-6.643-8.028-18.406-9.472-26.821-3.302L8.028,284.107l23.322,31.744l145.854-107.159l207.393,250.23    l30.313-25.134L195.669,169.255z" class="active-path" fill="%233E92E6"/></g></g><g><g><path d="M385.057,186.736c-7.175-5.678-17.31-5.658-24.478,0.033l-93.21,74.174l24.523,30.818l80.988-64.446l107.211,84.828    l24.432-30.884L385.057,186.736z" class="active-path" fill="%233E92E6"/></g></g></g></svg>') no-repeat;
    background-size: cover;
}

.icon-profile {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 512 512" height="512px" viewBox="0 0 512 512" width="512px" class=""><g><g><g><circle cx="256" cy="256" fill="%23cbe2ff" r="248.5" data-original="%23CBE2FF" class=""/><path d="m256 7.5c-10.701 0-21.245.677-31.59 1.99 122.327 15.519 216.911 119.969 216.911 246.51s-94.583 230.991-216.91 246.51c10.345 1.312 20.888 1.99 31.59 1.99 137.243 0 248.5-111.257 248.5-248.5s-111.258-248.5-248.501-248.5z" fill="%23bed8fb" data-original="%23BED8FB"/><g><g><g><path d="m317.757 101.611c0-12.692-10.289-22.98-22.98-22.98h-79.192c-29.21 0-52.889 23.679-52.889 52.889v58.721h186.578v-57.887c0-12.692-10.289-22.98-22.98-22.98h-.774c-4.288-.001-7.763-3.476-7.763-7.763z" fill="%23365e7d" data-original="%23365E7D"/><path d="m326.293 109.373h-.774c-4.286 0-7.761-3.475-7.761-7.761 0-12.692-10.289-22.98-22.98-22.98h-8.683v111.61h63.179v-57.887c-.001-12.694-10.289-22.982-22.981-22.982z" fill="%232b4d66" data-original="%232B4D66"/><path d="m436.52 408.243c0-24.074-15.598-45.374-38.549-52.64l-67.844-21.48-74.111-2.605-74.142 2.605-67.844 21.48c-22.951 7.267-38.549 28.566-38.549 52.64v18.534c45.201 47.763 109.154 77.598 180.077 77.722 10.118-.016 20.101-.602 29.921-1.73 59.243-7.002 112.101-34.844 151.042-75.992v-18.534z" fill="%234a80aa" data-original="%234A80AA"/><path d="m436.52 426.778v-18.534c0-17.022-7.805-32.65-20.487-42.918-36.023 73.41-107.187 126.451-191.564 137.177 10.185 1.29 20.557 1.979 31.088 1.997 10.118-.016 20.101-.602 29.921-1.73 59.242-7.002 112.101-34.844 151.042-75.992z" fill="%23407093" data-original="%23407093"/><g><path d="m304.648 333.228-48.633-18.928-48.679 18.929c-11.664 55.313 31.592 145.35 44.889 171.221 1.11.017 2.217.047 3.331.049 1.408-.002 2.808-.042 4.211-.066 13.308-25.893 56.543-115.904 44.881-171.205z" fill="%23e4f6ff" data-original="%23E4F6FF"/></g><path d="m244.465 399.54-19.67 77.365 24.735 27.537c4.353.091 8.673.077 13.031-.044l24.694-27.282-19.718-77.575h-23.072z" fill="%23e28086" data-original="%23E28086"/><path d="m249.498 504.407c2.014.053 4.032.089 6.058.092 2.345-.004 4.68-.045 7.01-.11l12.528-13.842c-9.861 3.459-20.006 6.315-30.391 8.521z" fill="%23dd636e" data-original="%23DD636E"/><g><g><g><g><g><g><g><g><path d="m297.521 326.068v-43.746h-83.073v43.746c0 22.94 41.537 47.998 41.537 47.998s41.536-25.058 41.536-47.998z" fill="%23ffddce" data-original="%23FFDDCE"/></g></g></g></g></g></g></g><path d="m349.273 182.535h-15.879c-8.831 0-15.991-7.159-15.991-15.991v-8.751c0-11.504-11.255-19.638-22.178-16.028-25.474 8.419-52.98 8.421-78.455.006l-.03-.01c-10.922-3.608-22.175 4.526-22.175 16.028v8.755c0 8.831-7.159 15.991-15.991 15.991h-15.879v26.149c0 6.682 5.417 12.098 12.098 12.098 2.108 0 3.824 1.652 3.956 3.755 2.551 40.447 36.144 72.467 77.234 72.467 41.09 0 74.683-32.02 77.234-72.467.133-2.104 1.848-3.755 3.956-3.755 6.682 0 12.098-5.417 12.098-12.098v-26.149z" fill="%23ffddce" data-original="%23FFDDCE"/><path d="m333.394 182.535c-8.831 0-15.991-7.159-15.991-15.991v-8.751c0-11.504-11.255-19.638-22.178-16.028-3.017.997-6.064 1.867-9.132 2.628v86.365c-.425 28.099-15.822 52.556-38.561 65.773 2.777.302 5.594.472 8.451.472 41.09 0 74.683-32.02 77.234-72.467.133-2.104 1.848-3.755 3.956-3.755 6.682 0 12.098-5.417 12.098-12.098v-26.149h-15.877z" fill="%23ffcbbe" data-original="%23FFCBBE"/></g><g fill="%23f4fbff"><path d="m214.448 314.3-32.575 26.469 34.161 42.238c4.155 4.046 10.697 4.295 15.148.577l25.69-21.459z" data-original="%23F4FBFF"/><path d="m297.536 314.3-40.665 47.824 24.146 20.645c4.424 3.782 10.995 3.592 15.192-.44l33.917-41.56z" data-original="%23F4FBFF"/></g></g><path d="m214.448 314.3-47.813 23.49c-3.64 1.788-5.102 6.216-3.243 9.82l9.367 18.162c2.427 4.706 1.532 10.441-2.216 14.182-1.928 1.925-4.018 4.01-5.828 5.818-3.241 3.235-4.405 8.014-2.977 12.364 11.309 34.476 65.741 87.197 86.34 106.271 1.385.036 2.773.062 4.164.077-14.937-29.055-67.873-139.446-37.794-190.184z" fill="%23365e7d" data-original="%23365E7D"/><path d="m341.441 379.954c-3.748-3.741-4.643-9.476-2.216-14.182l9.367-18.162c1.859-3.604.397-8.032-3.243-9.82l-47.813-23.49c30.07 50.725-22.828 161.068-37.782 190.16 1.405-.024 2.808-.059 4.208-.106 20.642-19.118 74.985-71.774 86.284-106.219 1.427-4.35.263-9.13-2.977-12.364-1.811-1.807-3.9-3.892-5.828-5.817z" fill="%23365e7d" data-original="%23365E7D"/><path d="m256.872 362.124-25.297 21.127 12.889 16.289h23.071l12.89-17.251z" fill="%23dd636e" data-original="%23DD636E"/></g></g></g><path d="m512 256c0-141.484-114.497-256-256-256-141.483 0-256 114.496-256 256 0 137.856 110.237 253.735 251.891 255.95 2.406.108 7.632.007 7.733.006.042.001.22-.002.267-.003 139.746-2.07 252.109-115.949 252.109-255.953zm-256-241c133.193 0 241 107.788 241 241 0 55.528-18.667 108.18-53.009 150.819-.597-26.873-18.022-50.218-43.757-58.367l-48.521-15.362c-2.746-2.35-2.023-1.338-46.692-23.47v-20.787c19.475-13.828 32.961-35.657 35.441-60.827 9.247-1.568 16.312-9.636 16.312-19.322 0-14.366 0-61.595 0-76.331 0-16.807-13.673-30.48-30.48-30.48h-.774c-.144 0-.261-.117-.261-.261 0-16.807-13.673-30.48-30.48-30.48h-79.192c-33.299 0-60.389 27.09-60.389 60.389 0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5c0-25.028 20.361-45.389 45.389-45.389h79.192c8.536 0 15.48 6.944 15.48 15.48 0 8.415 6.846 15.261 15.261 15.261h.774c8.536 0 15.48 6.944 15.48 15.48v42.682h-8.379c-4.682 0-8.491-3.809-8.491-8.49v-8.751c0-16.634-16.239-28.369-32.031-23.149-23.778 7.859-49.97 7.861-73.779-.004-15.795-5.216-32.028 6.519-32.028 23.15v8.754c0 4.682-3.809 8.491-8.49 8.491h-8.379v-8.853c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v42.502c0 9.687 7.064 17.754 16.312 19.323 2.479 25.171 15.966 46.999 35.44 60.827v20.795c-44.577 22.088-43.988 21.158-46.685 23.47l-48.497 15.354c-25.735 8.149-43.16 31.494-43.757 58.367-34.343-42.641-53.01-95.293-53.01-150.821 0-133.194 107.788-241 241-241zm-85.986 376.08 5.829-5.818c6.084-6.073 7.523-15.288 3.582-22.927l-9.247-17.929 30.306-14.889c-3.225 13.489-3.12 28.313-1.567 42.207.001.011.003.022.004.032 3.879 34.642 18.02 73.936 32.152 105.794-23.273-23.42-54.375-57.87-62.208-81.751-.545-1.66-.104-3.468 1.149-4.719zm.182-201.045h8.379c12.953 0 23.49-10.538 23.49-23.491v-8.754c0-6.371 6.206-10.925 12.353-8.897 26.814 8.857 56.348 8.856 83.162-.006 6.075-2.007 12.324 2.505 12.324 8.907v8.751c0 12.953 10.538 23.49 23.491 23.49h8.379v18.649c0 2.536-2.063 4.598-4.599 4.598-6.034 0-11.06 4.736-11.441 10.783-2.314 36.695-32.951 65.439-69.749 65.439-36.797 0-67.435-28.744-69.749-65.439-.381-6.046-5.407-10.783-11.441-10.783-2.536 0-4.598-2.062-4.598-4.598v-18.649zm85.797 305.25c-4.867-9.762-11.439-23.669-18.013-39.806l12.316-48.44h11.407l12.308 48.424c-6.586 16.171-13.166 30.092-18.018 39.822zm-9.859-133.964c-4.245 3.546-12.953 10.82-19.761 16.506-1.421 1.187-3.456 1.18-4.862.025l-7.927-9.801c-1.311-13.147-1.181-27.681 2.925-40.126zm-22.208 32.409c1.912 0 3.823-.309 5.67-.895l6.686 8.45-7.553 29.707c-4.326-12.473-8.226-25.478-11.093-38.368 2.031.723 4.156 1.106 6.29 1.106zm39.851-1.69h-15.683l-6.103-7.713 14.825-12.384 13.41 11.466zm22.115-14.971-18.461-15.785 28.131-33.083c4.009 12.358 4.125 26.674 2.865 39.55l-7.664 9.392c-1.422 1.146-3.459 1.133-4.871-.074zm-29.907-72.565c12.069 0 23.588-2.557 34.036-7.152v14.208l-33.269 39.126-34.804-39.234v-14.101c10.448 4.596 21.967 7.153 34.037 7.153zm27.278 126.466-7.577-29.809 6.812-9.117c1.91.632 3.891.962 5.875.962 2.072 0 4.136-.364 6.116-1.048-2.862 13.032-6.785 26.203-11.226 39.012zm-200.283-7.228v-15.498c0-20.9 13.388-39.182 33.313-45.49l39.985-12.659c.4.934-.011.033 9.816 19.117.935 1.812.594 3.996-.848 5.435l-5.829 5.818c-5.283 5.273-7.125 12.941-4.805 20.01 9.573 29.181 47.233 69.591 73.08 94.878-54.878-6.382-105.53-31.228-144.712-71.611zm201.311 71.612c13.939-13.635 31.41-31.751 46.005-50.099 2.579-3.242 2.041-7.96-1.201-10.539-3.242-2.578-7.959-2.041-10.539 1.201-11.777 14.806-25.545 29.512-37.677 41.701 14.175-31.94 28.369-71.367 32.212-106.116.001-.013.003-.026.004-.038 1.523-13.801 1.613-28.499-1.595-41.946l30.306 14.889-9.247 17.929c-3.941 7.641-2.501 16.854 3.583 22.928l5.828 5.817c1.253 1.251 1.693 3.059 1.149 4.719-1.175 3.582-2.963 7.605-5.314 11.958-1.969 3.645-.61 8.195 3.034 10.163 3.645 1.969 8.195.61 10.163-3.034 2.775-5.136 4.918-9.986 6.37-14.413 2.319-7.069.478-14.736-4.805-20.01l-5.828-5.817c-1.442-1.44-1.783-3.625-.849-5.436 9.755-18.945 9.422-18.197 9.818-19.121l39.998 12.663c19.926 6.309 33.313 24.59 33.313 45.491v15.498c-39.094 40.293-89.713 65.219-144.728 71.612z" data-original="%23000000" class="active-path" style="fill:%23000000"/></g></g></svg>') no-repeat;
    background-size: cover;
}