body {
    font-family: 'Vazir';
}
.dir-rtl {
    direction: rtl !important;
}

.border-radius-30 {
    border-radius: 30px !important;
}

.font-vazir {
    font-family: 'Vazir';
}

.text-12 {
    font-size: 12px !important;
}

.text-18 {
    font-size: 18px !important;
}

.border-none {
    border: none !important;
}

.profile {
    height: 565px;
}

.background-color-gray {
    background-color: #F4F4F4 !important;
}

.title {
    color: #bebebe;
}

.img-box {
    height: 166px !important;
    border-radius: 8px;
}

.form-control:focus {
    box-shadow: none !important;
}

.footer-row {
    border-top: 1px solid #efecec;
    padding-top: 10px;
}

.close-box {
    top : 5px;
    right: 5px;
}